.control
{
    width: 10%;
    background-color: rgb(0,0,0);
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    color: white;
    padding: 1% 0;
    text-decoration: none;
}
.control a
{
    color: white;
    text-decoration: none;
    padding: 2% 0;
}

.controls
{
    display: flex;
    column-gap: 2%;
    flex-direction: row;
    justify-content: center;
    margin: 10% 0 4% 0;
    height: 3em;
}
.controls .accent
{
    background-color: rgb(255,200,0);
    color: black
}
.controls button
{
    width: 10%;
    background-color: rgb(0,0,0);
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    color: white;
    padding: 1% 0;
    text-decoration: none;
}
.controls button a
{
    color: white;
    text-decoration: none;
    padding: 2% 0;
}