.navigation
{
    width: 10%;
    background-color: rgb(0,0,0);
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    color: white;
    padding: 1% 0;
}
.navigation a
{
    color: white;
    text-decoration: none;
    padding: 2% 0;
}