.changelog 
{
    margin: 2%;
}

.changelog #main 
{
    font-size: 300%;
    text-align: left;
    margin: 2%;
}

.changelog .section 
{
    text-align: left;
    margin: 2%;
}

.changelog ul
{
    margin: 4%;
    margin-bottom: 6%;
}