.divider 
{
    align-content: start;
    display: flex;
    margin: 4%;
    justify-content: center;
}
.divider #image
{
    height: 50%;
    width: 50%;
    max-height: 512px;
    max-width: 512px;
    margin: 0%;
}
.divider button
{
    width: 30%;
    border-style: none;
}

.divider #content
{
    margin: 4%;
}
.divider #content #title 
{
    font-size: 400%;
    text-align: left;
    margin: 2%;
}
.divider #content #subtitle
{
    font-size: 200%;
    text-align: left;
    margin: 2% 2% 4% 2%;
}
.divider #content p 
{
    margin: 2%;
}