.form 
{
    margin: 4%;
}
.form #content 
{
    margin: 2%;
}
.form #content p 
{
    margin: 2%;
    text-align: center;
}
.form #content .interface 
{
    display: flex;
    margin: 2%;
    align-items: center;
    justify-content: center;
}
.form #content #disclaimer 
{
    font-size: 80%;
}
.form #content .interface button
{
    background-color: rgb(0,0,0);
    border-style: none;
    border-radius: 5%;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    color: white;
    height: 3em;
    width: 15%;
}
.form #content .interface input
{
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    height: 3em;
    margin-right: 2%;
    padding: 0 2%;
    width: 50%;
}
.form #content .error
{
  color: red;
  font-weight: bold;
}
.admin #content .success
{
  color: green;
  font-weight: bold;
}