.form, .field 
{
    margin: 4%;
}
.form .title, .field .title
{
    font-size: 125%;
    justify-self: left;
    align-self: flex-start;
}
.form #content .interface .field
{
    margin: 0%;
    width: 100%;
}
.form #content, .field #content 
{
    margin: 2%;
}
.form #content p, .field #content p 
{
    margin: 2%;
    text-align: center;
}
.form #content .interface 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.field #content .interface 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form #content .interface button
{
    background-color: rgb(0,0,0);
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    color: white;
    height: 5em;
    margin-top: 4%;
    width: 50%;
}
.form #content .interface input
{
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    height: 5em;
    margin: 2%;
    padding: 0 2%;
    width:90%;
}
.field #content .interface button
{
    background-color: rgb(0,0,0);
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    color: white;
    height: 5em;
    width: 15%;
}
.field #content .interface input
{
    border-style: none;
    box-shadow: rgb(150,150,150) 0 10px 15px;
    height: 5em;
    margin-right: 2%;
    padding: 0 2%;
    width: 50%;
}
.form #content .interface .checkbox, .field #content .interface .checkbox
{
    border-style: none;
    box-shadow: none;
    height: 1.5em;
    width: 1.5em;
}

#content #disclaimer 
{
    font-size: 80%;
}
#content .error
{
  color: red;
  font-weight: bold;
}
#content .success
{
  color: green;
  font-weight: bold;
}