.links 
{
    display: flex;
    column-gap: 10%;
    justify-content: space-around;
    align-items: center;
}
.linkbar
{
    font-weight: bold;
}
.links a, .linkbar a
{
    color: black;
    text-decoration: none;
    font-weight: normal;
}
.links .current, .linkbar .current
{
    text-decoration: underline;
}

.categories
{
    display: flex;
    column-gap: 1%;
    align-items: center;
    margin: 2% 0;
}